{
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 0.3rem;
    transition: 0.3s;
}
  
  
  .sidebar li:hover,
  .sidebar li.active {
    background: rgba(255, 255, 255, 0.15);
  } */
  
  /* Main */
  /* .main {
    flex: 1;
    padding: 2rem;
  } */
  
  /* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */
  
  .user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .user-info img {
    border-radius: 50%;
  }
  
  /* Widgets */
  .widgets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .widget {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: rgb(116, 148, 178);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s;
  }
  
  .widget:hover {
    transform: translateY(-5px);
  }
  
  .widget .icon {
    font-size: 1.8rem;
    padding: 0.8rem;
    border-radius: 8px;
    background: #e2e8f0;
  }
  
  .widget .success { color: #16a34a; }
  .widget .info { color: #2563eb; }
  .widget .warning { color: #f59e0b; }
  
  /* Charts */
  .charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
  }
  
  .chart-card {
    background: rgb(116, 148, 178);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
  }
  
  .chart-card.full {
    grid-column: span 2;
  }
  
  /* Stats boxes */
  .stats {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  
  .stat-box {
    background: rgb(116, 148, 178);
    flex: 1;
    padding: 1.2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  }
  
  .stat-box h4 {
    color: #475569;
    margin-bottom: 0.5rem;
  }
  